canvas {
  border: 1px solid #000;
}
.container {
  display: flex;
  align-items: flex-start;

  .holder {
    margin-left: 1rem;
    p {
      font-family: Courier, monospace;
      font-weight: bold;
    }
  }
}